<!DOCTYPE html>
<html lang="nl-NL" itemscope itemtype="http://schema.org/Blog">
  <%- include('partials/head') %>
<body>
  <div id="eke-main">

    <%- include('partials/header') %>

    <%- body %>
  </div>

  <%- include('partials/footer') %>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script defer src="/js/jquery.lazyload.min.js"></script>
</body>
</html>
