<footer>
  <span class="subinfo" itemprop="about">Blog over beeldende kunst en kijken. Kunstblog Eigen Kunst Eerst! heeft als thuisbasis, maar beperkt zich niet tot, Amsterdam.</span>
  <div>
    <a class="rss" href="<%= site.baseUrl %>/feeds/rss.xml" title="RSS"><i class="icon-rss"></i>&ensp;eigenkunsteerst.org</a>&ensp;&bull;&ensp;<a href="http://www.google.nl/search?q=%22vincent+bruijn" title="Zoeken in Google naar Vincent Bruijn" target="_blank">Vincent Bruijn</a>&ensp;&bull;&ensp;<a href="http://translate.google.com/translate?js=y&amp;hl=nl&amp;ie=UTF-8&amp;layout=1&amp;eotf=1&amp;u=http%3A%2F%2Fwww.eigenkunsteerst.org&amp;sl=nl&amp;tl=en" title="Use Google translate to get a basic translation in English" target="_blank">English</a>&emsp;&bull;&ensp;<a title="Creative Commons Licentie" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">    <i class="icon-cc"></i><i class="icon-cc-by"></i><i class="icon-cc-nc-eu"></i><i class="icon-cc-sa"></i></a>
  </div>
</footer>
