<header id="eke-header" class="item">
  <div id="header-title">

    <img id="motto-qr" src="//cdn.vincentbruijn.nl/qr/In%20Art%20I%20Trust" width="116" height="116" alt="In Art I Trust" title="In Art I Trust" />

    <h1><a href="<%= site.baseUrl %>">EIGEN KUNST EERST</a></h1>
    <h3>blog door Vincent Bruijn&nbsp;<a class="rss" href="<%= site.baseUrl %>/feeds/rss.xml" title="RSS"><i class="icon-rss"></i></a></h3>
    <span class="subinfo">Kunst blog, artikelen over beeldende kunst, hedendaagse kunst. Kunstblog Eigen Kunst Eerst! wordt geschreven vanuit Amsterdam.</span>
  </div>

  <%- include('./navigation') %>

</header>
